<header>
  <div class="header-container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <nav class="navigation">
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a href="#partner" class="header-link">Partner with LAND Interiors</a>
      <a href="#consultant" class="header-link">Speak to Design Expert</a>
    </div>
  </div>
</header>
